.bg-cont{

    background: blueviolet;
    padding: 20px 26px;
    height: 100vh;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
}
.bg-cont .info{
    margin-top: 70px;
    list-style: none;
    margin-left: -40px;
}
.bg-cont .info li{
    padding: 10px 10px;
}
.info li span{
    margin-right:9px ;
}
.social-media{
    width: 100px;
    position: absolute;
    margin-top: 180px;
}
.small-circle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 130px;
    margin-left: 150px;
    margin-top: 100px;
    background: rgba(255, 0, 187, 0.694);
}
.big-circle{
    width: 150px;
    height: 150px;
    background: rgb(235, 208, 173);
    border-top-left-radius: 220px;
    margin-top: 132px;
    margin-left: 158px;

}
.bg-form{
    z-index: 1;
    background: white;
}
.bg-form form input{
    margin-top: 20px;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-radius: none;
    border-bottom: 1px solid black;
}
.bg-form form button {
    margin-top: 100px;
}
@media screen and (max-width: 600px) {
    
.small-circle{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 80px;
    margin-left: 80px;
    margin-top: 40px;
    background: rgba(255, 0, 187, 0.694);
}
.big-circle{
    width: 150px;
    height: 150px;
    background: rgb(235, 208, 173);
    border-top-left-radius: 220px;
    margin-top: 90px;
    margin-left: 100px;

}
}